

* {
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    
}

body, header {
    background: linear-gradient(60deg, rgb(65, 50, 124) 0%, rgb(30, 130, 143) 100%);
}


nav>a {
    display: inline-block;
    border: 1px solid black;
    color: white;
    margin-right: 7px;
    background-color: rgb(66, 66, 139);
    text-align: center;
    padding: 0.3rem;
    text-decoration: none;
    border-radius: 1rem;
   margin-top: 2.2rem ;
    
}

a[href="#"] {
    background-color: rgb(161, 167, 111);
    color: white;
}

#logo {
    margin-top: 2%;
    width: 7.5rem;
    margin-inline: 1%;
    border-radius: 10px;
    background-color: black;

}

#img {
    object-fit: cover;
    width: 100%;
    background-repeat: no-repeat;
    height: 40vh;
}

#img2 {
    width: 10rem;
    border-radius: 25px;
    border: 2px solid black;
    margin-top: 2%;
    margin-inline: 1%;
}

#img3 {
    margin-left: 6vw;
    border-radius: 25px;
    border: 2px solid black;
    width: 9rem;
}

h1 {
    top: 0rem;
    color: rgb(161, 167, 111);
}

h2 {
    background: linear-gradient(60deg, rgb(65, 50, 124) 0%, rgb(30, 130, 143) 100%);
    text-align: center;
    margin: -0.1rem 0;
}
h3{
    color: rgb(161, 167, 111);
}
.nav1 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.nav2 {
    position: absolute;
    right: 1rem;
    top: -1rem;
}
#mail {
    color: rgb(161, 167, 111);
}
p {
    margin-inline: 1rem;
}

.txt {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: justify;
    margin-inline: 1%;
}

.txt1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: justify;
    margin-inline: 1%;
}

.txt2 {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: space-around;
    align-items: center;
    margin-inline: 7%;
    margin-bottom: 3rem;
}

.txt3 {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-top: 1.5rem;
    justify-content: space-around;

}

#log2 {
    display: flex;
    flex-direction: column;
    align-content: space-around;
    justify-content: space-around;
  
}

figure {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
}

table {
    display: flex;
    border-collapse: collapse;
    width: 100%;
    margin-top: 1.5rem;
    justify-content: space-around;
}

th, td {
    border: 1px solid black;
    padding: 5px;
    text-align: center;
   
}

th {
    background-color: rgb(140, 137, 167);
    color: white;
}

tr:nth-child(even) {
    background-color: lightyellow;
}

tr:hover {
    background-color: rgb(161, 167, 111);
    color: white;
}
li{
    font-weight: bold;
}
fieldset{
border: none;
margin-top: 10px;
margin-bottom: 10px;
}

input {
    border: 1px solid rgb(161, 167, 111);
    font-size: 15px;
    margin-top: 10px;
    
  }

  form {
    width: 850px;
    margin-top: 20px;
    padding: 20px;
    border: 1px solid rgb(161, 167, 111);
    border-radius: 5px;
  }
  legend {
    margin-top: 20px;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  #logoreg {
    display: flex;
    margin-left:  42%;
    border-radius: 10px;
    background-color: black;
    height: 8rem;
    width: 7rem;

}
label{
    font-size: 17px;
}
iframe{
    margin: 3rem;
    border-radius: 1.5rem;
    margin-left: 15rem;
    margin-right: 10rem;
   
}
#near{
width: 13rem;
height: 1.4rem;
}

.firms {
    display: inline-block;
}

.boton-Sub {
    color:black;
    background-color: rgb(161, 167, 111);
    border-color:black;
    border-radius: 15px;
    width: 30%;
    margin: 1rem auto;
    display: block;
    
}